:host {
  display: block;
  --about-mobile-copy-size: var(--mobile-copy-size);
  --about-mobile-copy-line-height: var(--mobile-copy-line-height);
}

@media (max-height: 38rem) and (max-width: 48rem) {
  :host {
    --about-mobile-copy-size: var(--mobile-copy-size);
    --about-mobile-copy-line-height: var(--mobile-copy-line-height);
  }
}
